<h2><%= @model.name %></h2>

<ul>
  <li>Name: <%= @model.name %></li>

</ul>
<div class="grid-container">
<% @model.cars.each do |car| %>
<div class="grid-item">
<%= link_to image_tag(car.image, :class =>'model-thumb'), car_path(car.id) %>
<br><br><br>
<%= link_to car.name, car_path(car.id), :class => "link btn-blue" %>
</div>
<% end %>
</div>
<div class="controls">
  <% if @current_user.admin? %>
  <%= link_to 'Edit Model', edit_model_path(@model.id) %>
  <%= link_to 'Delete Model', model_path(@model.id), :method => 'delete', :data => {:confirm => 'Are you sure?'} %>
  <% end %>
</div>
