<!-- <h1>Sign in</h1> -->
<div class="sign">
  <div class="message">
<%= flash[:error] %>
</div>
<%= form_tag login_path do %>
<div class="text-box1">
  <div class="email">
<%= label_tag :email %>
<div class="sign_in">
<%= email_field_tag :email %>
</div>
<%= label_tag :password %>
<div class="sign_in">
<%= password_field_tag :password%>
</div>
</div>
<%= submit_tag "Sign In", :class => "bttn btn-blue" %>
</div>
<% end %>
</div>
