<h2><%= @brand.name %></h2>
<% if @brand.image %>
<div id="brand-name">
<%= image_tag @brand.image, :class => 'brand-image' %>
</div>
<% end %>

<ul>
  <li>Name: <%= @brand.name %></li>
</ul>
<div class="grid-container">
<% @brand.cars.each do |car| %>
 <div class="grid-item">
<%= link_to image_tag(car.image, :class =>'car-image-brand'), car_path(car.id) %>
<br><br><br>
<%= link_to car.name, car_path(car.id) %>
</div>
<% end %>
</div>
<div class="controls">
  <% if @current_user.admin? %>
  <%= link_to 'Edit Brand', edit_brand_path(@brand.id) %>
  <%= link_to 'Delete Brand', brand_path(@brand.id), :method => 'delete', :data => {:confirm => 'Are you sure?'} %>
  <% end %>
</div>
