<div class="grid-container">
<h1><%= @car.name %></h1>
<div class="grid-list">
<%= image_tag @car.image, :alt => @car.name, :class => 'feature' %>
</div>
<ul>
  <div class="container-car">
  <!-- <li>Name: <%= @car.name %></li> -->
  <li class="car">Seat: &nbsp<%= @car.seat %></li>
  <% if @car.brand.present? %>
  <div class="grid-list">
  <li class="car">Brand: <%= link_to @car.brand.name, brand_path(@car.brand), :class=>"link-none" %></li>

  <% end %>
  <% if @car.model.present? %>

  <li class="car">Model: <%= link_to @car.model.name, model_path(@car.model),:class=>"link-none" %></li>

  <% end %>


  <li class="car">Price: <%= @car.price %></li>
  </div>

  <div class="container-b">
  <% if @car.reviews.present? %>

  <h3>Reviews For This Car</h3>

  <% @car.reviews.each do |r| %>
  <div class="flex-item">
  <p class="username">UserName: <%= link_to r.username, reviews_path(@car), :class=>"link-none" %></p>
  <!-- <p>Rating: <%= link_to r.rating, reviews_path(@car) %> </p> -->
  <% (1 .. r.rating).each do |rating| %>
  <span class="fa fa-star star"></span>
  <% end %>
  <div class="comment">
  <p><%= link_to r.comment, reviews_path(@car), :class=>"remove-link" %></p>
  </div>
  <br>
  </div>
  <% end %>
  </div>
  <% end %>
  </div>
</ul>

<div class="review-page">
<%= link_to 'Add review', new_review_path, :class=>"review" %>
</div>



<div class="controls">
  <% if @current_user.admin? %>
  <%= link_to 'Edit Car', edit_car_path(@car.id) %>
  <%= link_to 'Delete Car', car_path(@car.id), :method => 'delete', :data => {:confirm => 'Are you sure?'} %>
  <% end %>
</div>
