<h1>Reviews</h1>
<%= form_for @review do |f| %>
<%= f.label :username %>
<%= f.text_field :username %>
<%= f.label :comment %>
<%= f.text_field :comment %>
<%= f.label :rating %>
<%= f.number_field :rating %>
<%= f.label :car_id %>
<%= f.select :car_id, Car.pluck(:name,:id), :include_blank => true %>
<%= f.submit %>
<% end %>
<div class="controls">
  <% if @current_user.admin? %>
  <%= link_to 'Edit Brand', reviews_path(@review.id) %>
  <%= link_to 'Delete Brand', reviews_path(@review.id), :method => 'delete', :data => {:confirm => 'Are you sure?'} %>
  <% end %>
</div>
