<!DOCTYPE html>
<html>
  <head>
    <title>Project01</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="login">
  <%= link_to 'Home', root_path %>
  <% if @current_user.present? %>
  <% if @current_user.admin? %>
  <%= link_to "All user", users_path %>
  <% end %>
  <%= link_to "Sign Out, #{ @current_user.email}", login_path, :method => 'delete' %>
  <% else %>
  <%= link_to 'Sign Up', new_user_path %>
  <%= link_to 'Sign In',login_path  %>
  <% end  %>

</nav>
<br><br><br>
<nav class="branch">

    <%= link_to 'BRANDS', brands_path %>
    <%= link_to 'MODELS', models_path%>
    <%= link_to 'CARS', cars_path %>
</nav>
<%= select_tag 'brand_id', Brand.pluck(:name,:id) %>

    <%= yield %>
  </body>
</html>
