<!DOCTYPE html>
<html>
  <head>
    <title>Project01</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= cloudinary_js_config %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="login">
    <header class="header">
  <div class="welcome">
  <%= link_to image_tag("h1"), root_path, :class => "home-logo" %>

  <% if @current_user.present? %>
  <% if @current_user.admin? %>
  <%= link_to "All user", users_path,:class => "link btn-blue" %>
  <% end %>
  <%= link_to "Sign Out, #{ @current_user.email}", login_path, :method => 'delete', :class => "link btn-blue" %>

  <%# <%= link_to 'BRANDS', brands_path, :class => "link btn-blue nav" %>
  <%= select_tag 'BRANDS', options_from_collection_for_select(Brand.all, "id", "name"), :prompt => "BRANDS", :class => "link btn-blue"  %>
  <script>
    const navigate = function () {
      const brandID = this.value;
      window.location = '/brands/' + brandID;
    };


    document.querySelector('#BRANDS').addEventListener('change', navigate);

  </script>
  <%# <%= link_to 'MODELS', models_path, :class => "link btn-blue"%>
  <%= select_tag 'MODELS', options_from_collection_for_select(Model.all, "id", "name"), :prompt => "MODELS", :class => "link btn-blue" %>
  <script>
    const modelNav = function () {
      const modelID = this.value;
      window.location = "/models/" + modelID;
    };
    document.querySelector('#MODELS').addEventListener('change', modelNav);
  </script>
  <%# <%= link_to 'CARS', cars_path, :class => "link btn-blue" %>
  <%= select_tag 'CARS', options_from_collection_for_select(Car.all, "id", "name"), :prompt => "CARS", :class => "link btn-blue" %>
  <script>
    const carNav = function () {
      const carID = this.value;
      window.location = "/cars/" + carID
    };
    document.querySelector('#CARS').addEventListener('change', carNav);
  </script>


  </div>
  </header>

  <% else %>
  <div class="home">
           <div class="logo-box">
               <%= image_tag asset_path('logo.png'),:alt=>"logo",:class=>"logo"%>
           </div>
           <div class="text-box">
           <h1 class="heading-primary">
               <span class="heading-primary-main">FindMeCar</span>
               <span class="heading-primary-sub"> Find your dream car</span>
           </h1>
           <%= link_to 'Sign Up', new_user_path, :class => "btn btn-white btn-animation" %>
             <%= link_to 'Sign In',login_path, :class => "btn btn-white btn-animation"  %>
           </div>
       </div>

  <% end  %>

</nav>


    <%= yield %>


  </body>
</html>
